.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.divider {
  margin: 2px !important;
}

.roomItem {
  margin-left: 16px;
  margin-right: 16px;
  text-align: left;
  cursor: pointer;
}

.roomListHeader {
  margin-bottom: 0;
  text-align: left;
}

.roomList {
  margin-top: 20px;
}